body {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    line-height: 1.6em;
}

body > section {
    clear: both;
    padding: 50px 0;
}

h2 {
    color: #0c243d;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4em;
}

.separador {
    width: 40px;
    height: 4px;
    display: block;
    margin: 0 auto 30px auto;
    background-color: #0c243d;
}

/** #Principal **/

section#principal {
    min-height: 700px;
    padding-top: 100px;
    background: rgb(30,50,90);
    background: -moz-linear-gradient(top, rgba(30,50,90,1) 0%, rgba(12,34,59,1) 100%);
    background: -webkit-linear-gradient(top, rgba(30,50,90,1) 0%,rgba(12,34,59,1) 100%);
    background: linear-gradient(to bottom, rgba(30,50,90,1) 0%,rgba(12,34,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e325a', endColorstr='#0c223b',GradientType=0 );
}

/** #App **/

section#app .social {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #123156;
    margin: 0 auto;
    line-height: 180px;
}













