body {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    line-height: 1.6em;
}

body > section {
    clear: both;
    padding: 50px 0;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    color: #0c243d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4em;
}

h2 {
    color: #0c243d;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4em;
}

h2.parallax {
    font-size: 3.6em;
    font-weight: 700;
    text-transform: none;
    color: #FFF;
    text-shadow: 0px 7px 8px black;
    -webkit-text-shadow: 0px 7px 8px black;
    -moz-text-shadow: 0px 7px 8px black;
}

.separador {
    width: 40px;
    height: 4px;
    display: block;
    margin: 0 auto 30px auto;
    background-color: #0c243d;
}

.cinzaBG {
    background-color: #f5f5f5;
}

/** #Principal **/

section#principal {
    min-height: 700px;
    padding-top: 100px;
    background: rgb(30,50,90);
    background: -moz-linear-gradient(top, rgba(30,50,90,1) 0%, rgba(12,34,59,1) 100%);
    background: -webkit-linear-gradient(top, rgba(30,50,90,1) 0%,rgba(12,34,59,1) 100%);
    background: linear-gradient(to bottom, rgba(30,50,90,1) 0%,rgba(12,34,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e325a', endColorstr='#0c223b',GradientType=0 );
}

/** #App **/

section#app .social {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #123156;
    margin: 0 auto;
    line-height: 180px;
}

/** #Caracteristicas **/

section#caracteristicas p {
    font-size: .9em;
    color: #858585;
}

section#caracteristicas .caracteristica{
    margin-bottom: 20px;
    clear: both;
}

section#caracteristicas .icone {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #123156;
    margin: 0 auto;
    line-height: 140px;
    text-align: center;
}

/** #Telas **/

div.modal-body {
    text-align: center;
}

div.modal-body img {
    max-height: 90%;
}

/** Parallax **/

section#parallax {
    height: 500px;
    background: url(../img/ipadApp.jpg) no-repeat fixed;
    background-size: cover;
}

/** Baixar **/

section#baixar div.conteudoDownload {
    height: 700px;
}

section#baixar div.phone {
    width: 50%;
    float: left;
    height: 100%;
    box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
    -moz-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15);
    z-index: 1;
    text-align: center;
}

section#baixar div.direitaVazio {
    width: 50%;
    background-color: #f5f5f5;
    float: right;
    height: 100%;
    z-index: 2;
    background-image: url(../img/descargaAppBG.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

section#baixar .download {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}

section#baixar .plataformas > div{
    border-radius: 20px;
    border: 3px solid #0c243d;
    padding: 11px 0;
    font-size: 1.2em;
    position: relative;
    padding-left: 50px;
    color: #0c243d;
}

section#baixar .plataformas > div span{
    font-weight: bold;
}









